# ***Actividad 3***
"DataFrames & Pandas" 

---

Para esta actividad trabajaremos con los datos registrados por la estación de "El Triunfo" de Baja California Sur, tomaremos los datos que se encuentran en formato .txt y los almacenaremos en un DataFrame para su posterior manipulación.

In [24]:
#Aqui introducimos las bibliotecas a utilizar
import pandas as pd

#Definimos como la direccion url donde se ubica nuestro archivo
url="https://raw.githubusercontent.com/GerardoxCarreon/FisicaComputacional1/master/Actividad3/Copia%20de%20Climatologia%20diaria_La%20Paz.txt"

#Definimos manualmente los nombres para nuestras columnas mediante la función my_cols
my_cols=[ 'Fecha' , 'Precip(mm)' , 'Evap(mm)' , 'Tempmax(ºC)' , 'Tempmin(ºC)' ]
#Definimos nuestro archivo como un csv con parametros para poder leerlo como Dataframe 
df_clim = pd.read_csv(url, names=my_cols, encoding='cp1252', sep='\s+', header=None, skiprows=19, skipfooter=1, skip_blank_lines=True, engine='python')
#names=my_cols: Para nombrar a las columnas con los nombres que acabamos de definir
#encoding='cp1252': Parametro obligatorio para que se puedan leer archivos escritos en español
#sep='\s+': Indica que el metodo por el cual se separa la informacion es por espacios
#header:None: Le indica al archivo que ignore el encabezado del archivo 
#skiprows=19: Se saltan los primeros 19 renglones y de ahi se empiezan a leer los datos
#skipfooter=1: Le indica al archivo que no lea o ignore el ultimo renglon del archivo a leer
#skip_blank_lines=True: Se saltan o ignoran los espacios en blanco del archivo
#engine='python': Indica el el lenguaje de programacion con el que se va a leer el archivo

#Nuestro archivo esta listo para ser leido df_clim

In [25]:
#Se imprimiran los primeros y ultimos 5 renglones de la tabla de datos
print('ENCABEZADO DE DATAFRAME\n')
print(df_clim.head())
print('')
print('PIE DE DATAFRAME\n')
print(df_clim.tail())

ENCABEZADO DE DATAFRAME

        Fecha Precip(mm) Evap(mm) Tempmax(ºC) Tempmin(ºC)
0  18/04/1961          0     Nulo          33        Nulo
1  19/04/1961          0     Nulo          31        12.5
2  20/04/1961          0     Nulo          31          12
3  21/04/1961          0     Nulo          33          16
4  22/04/1961          0     Nulo          36          16

PIE DE DATAFRAME

            Fecha Precip(mm) Evap(mm) Tempmax(ºC) Tempmin(ºC)
18656  27/12/2017          0     Nulo          25          13
18657  28/12/2017          0     Nulo          27          13
18658  29/12/2017          0     Nulo          27          16
18659  30/12/2017          0     Nulo          29          13
18660  31/12/2017          0     Nulo          29          16

In [26]:
#Informacion del DataFrame
print('INFORMACION DE DATAFRAME\n')
df_clim.info()

INFORMACION DE DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18661 entries, 0 to 18660
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        18661 non-null  object
 1   Precip(mm)   18661 non-null  object
 2   Evap(mm)     18661 non-null  object
 3   Tempmax(ºC)  18661 non-null  object
 4   Tempmin(ºC)  18661 non-null  object
dtypes: object(5)
memory usage: 729.1+ KB

In [27]:
#Dimensiones del DataFrame
print('DIMENSIONES DE DATAFRAME\n')
df_clim.shape

DIMENSIONES DE DATAFRAME

(18661, 5)

In [28]:
#Realizamos una copia del primer DataFrame e imprimimos el encabezado de la copia
df_cop=df_clim.copy()
print('ENCABEZADO DE DATAFRAME\n')
df_cop.head()

ENCABEZADO DE DATAFRAME

        Fecha Precip(mm) Evap(mm) Tempmax(ºC) Tempmin(ºC)
0  18/04/1961          0     Nulo          33        Nulo
1  19/04/1961          0     Nulo          31        12.5
2  20/04/1961          0     Nulo          31          12
3  21/04/1961          0     Nulo          33          16
4  22/04/1961          0     Nulo          36          16

In [29]:
#Sustituimos los valores marcados como Nulo en el DataFrame por espacios en blanco
#Para esto deberemos sustituir la copia del primer DataFrame por otra copia
str_Nulo = 'Nulo'
df_cop2 = df_cop.replace(to_replace=str_Nulo, value='', regex=True)
#Imprimimos el nuevo encabezado
print('ENCABEZADO DE DATAFRAME\n')
df_cop2.head()

ENCABEZADO DE DATAFRAME

        Fecha Precip(mm) Evap(mm) Tempmax(ºC) Tempmin(ºC)
0  18/04/1961          0                   33
1  19/04/1961          0                   31        12.5
2  20/04/1961          0                   31          12
3  21/04/1961          0                   33          16
4  22/04/1961          0                   36          16

In [30]:
#Imprimimos la informacion actualizada de la ultima copia del DataFrame
print('INFORMACION DE DATAFRAME\n')
df_cop2.info()

INFORMACION DE DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18661 entries, 0 to 18660
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        18661 non-null  object
 1   Precip(mm)   18661 non-null  object
 2   Evap(mm)     18661 non-null  object
 3   Tempmax(ºC)  18661 non-null  object
 4   Tempmin(ºC)  18661 non-null  object
dtypes: object(5)
memory usage: 729.1+ KB

In [31]:
#Ahora convertiremos todos los valores numericos que el DataFrame almaceno como objetos a numeros flotantes
#Los datos que se convertiran en numeros flotantes seran los que se encuentran en las columnas de Precipitacion, Evaporacion, Tempmax y Tempmin
cols_list=['Precip(mm)', 'Evap(mm)', 'Tempmax(ºC)', 'Tempmin(ºC)']
for cols in cols_list:
  df_cop2[cols]=pd.to_numeric(df_cop2[cols], errors='coerce')
#Imprimimos nuevamente la informacion actualizada de la ultima copia del DataFrame
print('INFORMACION DE DATAFRAME\n')
df_cop2.info()

INFORMACION DE DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18661 entries, 0 to 18660
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        18661 non-null  object
 1   Precip(mm)   18659 non-null  float64
 2   Evap(mm)     1238 non-null   float64
 3   Tempmax(ºC)  18658 non-null  float64
 4   Tempmin(ºC)  18657 non-null  float64
dtypes: float64(4), object(1)
memory usage: 729.1+ KB

In [32]:
#Contamos todos los valores nulos ignorados por la ultima instruccion de convertir los objetos de las columnas a numeros flotantes del DataFrame
print('VALORES NULOS DEL DATAFRAME\n')
df_cop2.isnull().sum()

VALORES NULOS DEL DATAFRAME

Fecha              0
Precip(mm)         2
Evap(mm)       17423
Tempmax(ºC)        3
Tempmin(ºC)        4
dtype: int64

In [33]:
#Imprimimos el nuevo encabezado y pie del DataFrame
print('ENCABEZADO DE DATAFRAME\n')
print(df_cop2.head())
print('')
print('PIE DE DATAFRAME\n')
print(df_cop2.tail())

ENCABEZADO DE DATAFRAME

        Fecha  Precip(mm)  Evap(mm)  Tempmax(ºC)  Tempmin(ºC)
0  18/04/1961         0.0       NaN         33.0          NaN
1  19/04/1961         0.0       NaN         31.0         12.5
2  20/04/1961         0.0       NaN         31.0         12.0
3  21/04/1961         0.0       NaN         33.0         16.0
4  22/04/1961         0.0       NaN         36.0         16.0

PIE DE DATAFRAME

            Fecha  Precip(mm)  Evap(mm)  Tempmax(ºC)  Tempmin(ºC)
18656  27/12/2017         0.0       NaN         25.0         13.0
18657  28/12/2017         0.0       NaN         27.0         13.0
18658  29/12/2017         0.0       NaN         27.0         16.0
18659  30/12/2017         0.0       NaN         29.0         13.0
18660  31/12/2017         0.0       NaN         29.0         16.0

In [34]:
#Se realiza una descripcion estadistica de los datos con dos cifras significativas en sus valores
print('DESCRPCION DE DATAFRAME\n')
df_cop2.describe().round(2)

DESCRPCION DE DATAFRAME

       Precip(mm)  Evap(mm)  Tempmax(ºC)  Tempmin(ºC)
count    18659.00   1238.00     18658.00     18657.00
mean         1.12      4.22        29.85        13.81
std          7.37      1.60         4.89         4.76
min          0.00      0.80        13.00        -4.00
25%          0.00      2.90        26.00        10.00
50%          0.00      4.00        30.00        13.00
75%          0.00      5.20        34.00        18.00
max        259.00     11.00        42.00        28.00

In [35]:
#Nuevamente realizamos una copia del ultimo DataFrame
df_cop3=df_cop2.copy()
#Imprimimos los primeros 5 renglones de la columna de Fecha
print('ENCABEZADO FECHA DE DATAFRAME\n')
df_cop3['Fecha'].head()

ENCABEZADO FECHA DE DATAFRAME

0    18/04/1961
1    19/04/1961
2    20/04/1961
3    21/04/1961
4    22/04/1961
Name: Fecha, dtype: object

In [36]:
#Ahora convertiremos la informacion almacenada en la columna de Fecha del DataFrame de objeto a formato datetime
#Utilizamos la función pd.to_datetime que convierte la fecha en datetime 
#Definimos que la fecha este ordenada por dia, mes, año
df_cop3['Fecha']=pd.to_datetime(df_cop3['Fecha'], dayfirst=True).copy()
#Imprimimos el encabezado y la informacion del DataFrame para comprobar el formato de la fecha
print('ENCABEZADO DE DATAFRAME\n')
print(df_cop3.head())
print('')
print('INFORMACION DE DATAFRAME\n')
df_cop3.info()

ENCABEZADO DE DATAFRAME

       Fecha  Precip(mm)  Evap(mm)  Tempmax(ºC)  Tempmin(ºC)
0 1961-04-18         0.0       NaN         33.0          NaN
1 1961-04-19         0.0       NaN         31.0         12.5
2 1961-04-20         0.0       NaN         31.0         12.0
3 1961-04-21         0.0       NaN         33.0         16.0
4 1961-04-22         0.0       NaN         36.0         16.0

INFORMACION DE DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18661 entries, 0 to 18660
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        18661 non-null  datetime64[ns]
 1   Precip(mm)   18659 non-null  float64
 2   Evap(mm)     1238 non-null   float64
 3   Tempmax(ºC)  18658 non-null  float64
 4   Tempmin(ºC)  18657 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 729.1 KB

In [37]:
#Creamos dos nuevas columnas para el DataFrame las cuales contendran el Mes y Año de los datos, para esto extraeremos estos valores de la recien creada columna de Fecha
#Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_cop3['Año'] = df_cop3['Fecha'].dt.year
df_cop3['Mes'] = df_cop3['Fecha'].dt.month
#Imprimimos el encabezado y el pie del DataFrame para confirmar que se encuentren estas dos nuevas columnas
print('ENCABEZADO DE DATAFRAME\n')
print(df_cop3.head())
print('')
print('PIE DE DATAFRAME\n')
print(df_cop3.tail())

ENCABEZADO DE DATAFRAME

       Fecha  Precip(mm)  Evap(mm)  Tempmax(ºC)  Tempmin(ºC)   Año  Mes
0 1961-04-18         0.0       NaN         33.0          NaN  1961    4
1 1961-04-19         0.0       NaN         31.0         12.5  1961    4
2 1961-04-20         0.0       NaN         31.0         12.0  1961    4
3 1961-04-21         0.0       NaN         33.0         16.0  1961    4
4 1961-04-22         0.0       NaN         36.0         16.0  1961    4

PIE DE DATAFRAME

           Fecha  Precip(mm)  Evap(mm)  Tempmax(ºC)  Tempmin(ºC)   Año  Mes
18656 2017-12-27         0.0       NaN         25.0         13.0  2017   12
18657 2017-12-28         0.0       NaN         27.0         13.0  2017   12
18658 2017-12-29         0.0       NaN         27.0         16.0  2017   12
18659 2017-12-30         0.0       NaN         29.0         13.0  2017   12
18660 2017-12-31         0.0       NaN         29.0         16.0  2017   12

In [39]:
#Verificamos que la variables de las columnas de Mes y Año sean variables enteras
print('INFORMACION DE DATAFRAME\n')
df_cop3.info()
#Fin de la actividad 3

INFORMACION DE DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18661 entries, 0 to 18660
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        18661 non-null  datetime64[ns]
 1   Precip(mm)   18659 non-null  float64
 2   Evap(mm)     1238 non-null   float64
 3   Tempmax(ºC)  18658 non-null  float64
 4   Tempmin(ºC)  18657 non-null  float64
 5   Año          18661 non-null  int64
 6   Mes          18661 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1020.6 KB